.loginDesign{
    width: 100vw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:aliceblue;
}

.loginBox{
    height: 30em;
    width: 30em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:1em;
    margin-top: 3em;
}
.loginName{
    font-size: 2em;
    margin: 1em;
}
.signUpHereText{
    color:green
}
.signUpHereText:hover{
    cursor: pointer;
}
.xpensesName{
    font-weight: 800;
}