.allUsersdesign{
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
    background-color: aliceblue;
    padding-bottom: 2em;
}
.allUsersBox{
    height: auto;
    width: 57em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    background-color: rgb(147, 190, 192);
    padding-top: 1em;
    padding-bottom: 1em;
}
.userBox{
    height: 2em;
    width: 55em;
    display: flex;
    background-color: aliceblue;
}
.boxInside{
    height: 2em;
    width: 15em;
    display: flex;
    justify-content: flex-start;
    gap:0.5em
}
.boxIsActive{
    width: 5em;
}
.iconDeleteUser{
    justify-content: center;
    width: 5em;
}
.deleteIcon:hover{
    cursor: pointer;
}
@media (max-width: 767px) {
    .allUsersdesign{
        height: auto;
    }
    .userBox{
        height: auto;
        width: 16em;
        flex-direction: column;
        font-size: 1.2em;
    }
    .allUsersBox{
        width: 20em;
    }
    .boxInside{
        width: auto;
    }
    
}