
.newExpenseDesign{
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aquamarine;
    gap:1em;
}
.categoriesDesign{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 23em;
    width: 26em;
    gap:1em;
    margin-top: 0.5em;
    background-color: aliceblue;
}
.categoryBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em; 
    background-color: blue; 
}
.categoryBox:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.categoryIcon{
    height: 3em;
    width: 3em;
}
.expenseInputBox{
    height: 3em;
    width: 20em;
    background-color: azure;
}
.descriptionBox{
    height: 5em;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5em;
}
.payMethodBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5em;
    width: 8em;
    background-color: antiquewhite;
    border-radius: 2em;
}
.payMethodImage{
    height: 2em;
    width: 2em;
}
.payMethodImage:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.inputDate{
    height: 1.5em;
    width: 1.5em;
}