.balanceDesign{
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5em;
    background-color: aliceblue;
}
.balanceBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35em;
    width: 35em;
    padding: 3em;
}
.balanceButtonsBox{
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2em;
}
.addIncomeBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIncomeBox:hover{
    cursor: pointer;
    box-shadow: 0 4px 0 0 #000;
}
.allBalancesBox{
    display: flex;
    gap:1em
}
.dateBalance{
    font-size: 1.3em;
    font-weight: 800;
}
.typeBalanceName{
    font-weight: 600;
}
.balanceName{
    font-weight: 600;
    font-size: 1.2em;
}
.balanceHomeAmount{
    font-size: 1.3em;
    color:rgb(79, 149, 10)
}
.redBalance{
    color:rgb(162, 11, 11)
}
@media (max-width: 767px) {
    .allBalancesBox{
        display: flex;
        flex-direction: column;
        gap:1em
    }
    .balanceBox{
        height: auto;
        width: 25em;
        padding: 3em;
    }
}
