.balanceDesign{
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    background-color: aliceblue;
}
.balanceBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35em;
    width: 35em;
    padding: 3em;
}
.balanceButtonsBox{
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2em;
}
.addIncomeBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIncomeBox:hover{
    cursor: pointer;
    box-shadow: 0 4px 0 0 #000;
}
.allBalancesBox{
    display: flex;
    gap:1em
}
.dateBalance{
    font-size: 1.5em;
    font-weight: 800;
}