.allCategoriesDesign{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
    background-color: aliceblue;
    padding-bottom: 2em;
}
.allCategoriesBox{
    height: auto;
    width: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    background-color: rgb(147, 190, 192);
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
}
.categoryBoxSuperAdmin{
    height: 2em;
    width: 40em;
    display: flex;
    background-color: aliceblue;
    padding-left: 1em;
}
.boxInsideCategories{
    height: 2em;
    width: 12em;
    display: flex;
    justify-content: flex-start;
}
.iconAllCategories{
    width: 6em;
}
.iconDeleteCategory{
    width: 10em;
    gap:1em;
    justify-content: flex-end;
}
.viewNameSuperAdmin{
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 0.5em;
}
.msgDeleteCategories{
    color:brown;
    padding: 1em;
}
@media (max-width: 767px) {
    .allCategoriesDesign{
        overflow-x: hidden;
    }
    .allCategoriesBox{
        width: 18em;
    }
    .categoryBoxSuperAdmin{
        height: auto;
        width: 12em;
        flex-direction: column;
        font-size: 1.3em;
    }
    .boxInsideCategories{
        width: auto;
        justify-content: center;
    }
}