.profileDesign{
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:2em;
}
.profileBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em
}
.avatarBox{
    height: 9em;
    width: 9em;
    background-color: rgb(196, 210, 237);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarBox:hover .editAvatarButton{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;
}
.nicknameBox{
    display: flex;
    flex-direction: row;
}
.editButton:hover{
    cursor: pointer;
}
.editAvatarButton{
    top:21em;
    position: absolute;
    opacity: 0;
}
.profileBox{
    height: 25em;
    width: 18em;
    background-color: rgb(107, 158, 172);
}