.addButton{
    height: 2em;
    width: 4em;
    background-color:rgb(26, 185, 132);
    border-radius: 1.5em;
    font-weight: 600;
}
.addButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.loginButton{
    height: 2em;
    width: 5em;
    background-color:rgb(175, 247, 175);
}
.loginButton:hover{
    cursor: pointer;
}
.saveButton{
    height: 2em;
    width: 5em;
    background-color:rgb(26, 185, 132) ;
    border-radius: 2em;
}
.saveButton:hover{
    cursor: pointer;
}