.homeDesign{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color:#f0f8ff;
    padding: 0;
    margin: 0;
}
.leftBox{
    height: 40em;
    width: 20em;
    background-color: #8a2be2;
    /* background-color:rgb(40, 193, 142) ; */
    border-radius: 0 40em 40em 0;
    animation:scale-up-horizontal-left 0.4s } @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}
}
.centerBox{
    height: 40em;
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;  
    /* background-color: bisque; */
    padding-top: 8em;
}
.firstLine{
    height: 3em;
    width: 12em;
    font-size: 2.5em;
    text-align: left;
    font-weight: 300;
}
.secondtLine{
    font-weight: 600;
}
.imgHelp{
    height: 35em;
    width: 35em;
    background: url(../../assets/images/xpenses-help.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.homeFooterRow{
    width: 100vw;
    height: 25em;
    padding: 0;
    margin: 0;
    background: url(../../assets/images/xpenses-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.homeFirstRow{
    width: 100vw;
    height: 45em;
    padding: 0;
    margin: 0;
}
.footerBox{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 2em;
    padding-right: 2em;
}
.leftSecondBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}
.helpName{
    font-weight: 800;
    font-size: 2em;
}
.secondHelpName{
    font-weight: 400;
    font-size: 1.4em;
}
.boxInsideHelp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}
@media (max-width: 767px) {
    .homeDesign{
        align-items: flex-start;
        padding-top: 2em;
    }
    .leftBox{
        height: 14em;
        width: 7em;
    }
    .centerBox{
        height: 15em;
        width: 15em;
        display: flex;
        padding-top: 2em;
    }
    .firstLine{
        height: 3em;
        width: 10em;
        font-size: 1.2em;
        text-align: left;
        font-weight: 300;
    }
    .leftSecondBox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:2em
    }
    .boxInsideHelp{
        padding-top: 1em;
    }
    .footerBox{
        padding-bottom: 0.5em;
        padding-right: 0.5em;
        padding-left: 0;
    }
    .homeFirstRow{
        height: auto;
    }
    .imgHelp{
        height: 18em;
        width: 18em;
    }
}


