.homeDesign{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color:#f0f8ff;
    padding: 0;
    margin: 0;
}
.leftBox{
    height: 40em;
    width: 20em;
    background-color: #8a2be2;
    /* background-color:rgb(40, 193, 142) ; */
    border-radius: 0 40em 40em 0;
    animation:scale-up-horizontal-left 0.4s } @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}
}
.centerBox{
    height: 40em;
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;  
    /* background-color: bisque; */
    padding-top: 8em;
}
.firstLine{
    height: 3em;
    width: 12em;
    font-size: 2.5em;
    text-align: left;
    font-weight: 300;
}
.secondtLine{
    font-weight: 600;
}
@media (max-width: 767px) {
    .homeDesign{
        align-items: flex-start;
        padding-top: 2em;
    }
    .leftBox{
        height: 14em;
        width: 7em;
    }
    .centerBox{
        height: 15em;
        width: 18em;
        display: flex;
        padding-top: 2em;
    }
    .firstLine{
        height: 3em;
        width: 10em;
        font-size: 1.2em;
        text-align: left;
        font-weight: 300;
    }
}
.homeFooterRow{
    width: 100vw;
    height: 25em;
    padding: 0;
    margin: 0;
    background: url(../../assets/images/xpenses-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.homeFirstRow{
    width: 100vw;
    height: 45em;
    padding: 0;
    margin: 0;
}
.footerBox{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 2em;
    padding-right: 2em;
}