.balanceSheetsDesign{
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    gap:2em;
    background-color: rgb(77, 22, 136);
    background-color: aliceblue;
    padding-top: 1em;
}
.oldBalanceBox{
    height: 20em;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    gap:1em
}
.balanceBoxInside{
    height: 2em;
    width: 15em;
    background-color: rgb(166, 229, 212);
    display: flex;
    justify-content: space-evenly;
}
.balanceAmount{
    font-size: 1.5em;
}