.newIncomeDesign{
    height: 86vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap:2em;
}
.categoriesIncomeDesign{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 15em;
    width: 20em;
    gap:1em;
    margin-top: 0.5em;
}
.categoryIncomeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em; 
    margin-top: 1em;
}
.categoryIncomeBox:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.categoryIcon{
    height: 3em;
    width: 3em;
}
.dateBox{
    display: flex;
    justify-content: center;
    height: 2em;
    width: 12em;
    display: flex;
    gap:1em;
}
.incomeInput{
    height: 2em;
    width: 10em;
}
.incomeInputBox{
    height: 2em;
    width: 14em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contentIncomeBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 86vh;
    gap:0.5em;
    margin-top: 2em;
}
